.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  max-width: 1140px;
  /* Set the fixed height of the footer here */
  background-color: #f5f5f5;
  padding: 8px;
  padding-left: 16px;
  padding-right: 16px;
}