.selector-rows {
  padding-bottom: 20px;
}

.coin-info-container {
  padding: 10px;
}

.coin-info-container img {
  width: 150px;
  height: 150px;
  margin-left: 10px;
  margin-right: 10px;
}

.coin-exchange-container {
  border: 5px solid #5d99c6;
  padding: 10px;
  flex-grow: 1;
  margin-left: 5px;
  background-color: white;
}

.label-field {
  display: block;
  margin-bottom: 0;
}