.selector-rows {
  padding-bottom: 10px;
}

.coin-info-container {
  padding: 10px;
}

.coin-info-container img {
  width: 150px;
  height: 150px;
  margin-left: 10px;
  margin-right: 10px;
}

.right-content {
  padding: 20px;
  overflow-y: auto;
}

.row-exchange-info {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 20px;
}

.coin-exchange-container {
  border: 5px solid #5d99c6;
  padding: 20px;
  width: 100%;
  background-color: white;
}

.label-field {
  display: block;
  margin-bottom: 0;
}